* {
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(249, 250, 251);
    --border-color: rgb(229, 231, 235);
    --border-color-muted: hsl(220, 14%, 94%);
    --color-primary: rgb(59, 130, 246);
    --color-danger: rgb(225, 50, 50);
    --color-danger-muted: rgb(225, 100, 100);
    --shadow-sm: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);

    font-family: "Nunito Sans Variable", Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 1.5rem;
}

input {
    appearance: none;
    flex: 1;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    outline: rgba(0, 0, 0, 0) solid 2px;
    box-shadow:
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        var(--shadow-sm);
    transition-property: all;
    transition-timing-function: var(--transition-easing);
    transition-duration: 150ms;
}

input:focus {
    box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px,
        var(--color-primary) 0px 0px 0px 2px,
        var(--shadow-sm);
}

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100vh;
    gap: var(--spacing-md);
}

section {
    padding: 0 var(--spacing-lg);
    padding-block: 0;
}

footer {
    background-color: var(--bg-color);
    position: sticky;
    bottom: 0;
    padding: var(--spacing-md);
    border-top: 1px solid var(--border-color-muted);
    z-index: 3;
}

footer form {
    display: flex;
}

footer form input {
    flex: 1;
    height: 60px;
    padding: 20px 16px;
    border-radius: 12px;
}

/* Tasks --------------------- */

.tasks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tasks__sentinel {
    height: 1px;
    margin-top: -1px;
}

.tasks__header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    padding: var(--spacing-md) 0;
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid transparent;
    transition: border-color 150ms var(--transition-easing);
    z-index: 2;
}

.tasks__header--sticky {
    border-bottom-color: var(--border-color-muted);
}

.tasks__list {
    padding-top: var(--spacing-sm);
}

/* Tasks > Task --------------------- */

.task__content {
    display: flex;
    gap: var(--spacing-xs);
}

.task__time {
    position: relative;
    display: inline-block;
}

.task__time-label {
    cursor: pointer;
}

.task__time-label:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.task__time-input {
    position: absolute;
    left: -5px;
    top: -3px;
    width: 4.5ch; /* non-monospace font */
    font: inherit;
    color: inherit;
    background: var(--bg-color);
    border: 1px solid var(--border-color-muted);
    border-radius: 4px;
    outline: none;
    padding: 2px 4px;
    z-index: 1;
    box-sizing: content-box;
}

.task__name {
    flex: 1;
}

.task__delete {
    cursor: pointer;
    opacity: 0;
    transition: opacity 150ms var(--transition-easing);

    path {
        stroke: var(--color-danger-muted);
        transition: stroke 150ms var(--transition-easing);
    }
}

.task:hover .task__delete {
    opacity: 1;

    &:hover path {
        stroke: var(--color-danger);
    }
}
